.header__lang-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  color: #FFFFFF;
}

.header__lang-link:nth-of-type(2n) {
  margin-left: 18px;
}

@media (max-width: 767px) and (min-width: 250px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 24px;
  }
}