.cover__subtitle {
  margin: 0;
  font-family: Inter;
  /* ну так я и указал запасные шрифты для всех блоков кроме грида с фотками, 
  может проблема в том что font-family: Inter и так бы унаследовался?
  но тогда я не понимаю в чем критичность*/
  max-width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 767px) and (min-width: 250px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}