.cover__subtitle {
  margin: 0;
  font-family: Inter;
  width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 767px) and (min-width: 250px) {
  .cover__subtitle {
    width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}