.place__paragraph {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0;
  margin-top: 24px;
}

.place__paragraph:nth-of-type(1) {
  margin-top: 0;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 767px) and (min-width: 250px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
}