.lead__image {
  width: 984px;
  /* height: 615px;   */
}

@media (max-width: 1280px) and (min-width: 1024px) {
  .lead__image {
    width: 928px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .lead__image {
    width: 100%;
  }
}

@media (max-width: 767px) and (min-width: 250px) {
  .lead__image {
    width: 100%;
    /* height: 615px;   */
  }
}