@import url(./__link/cover__link.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__text/cover__text.css);
@import url(./__title/cover__title.css);
.cover {
  margin: 0 auto 92px;
  width: 92.5%;
  padding-bottom: calc(100% * .925 * .625);
  background-repeat: no-repeat;
  background-image: url(../../images/__background.jpg);
  background-size: contain;
  display: flex;
  position: relative;
  font-family: 'Inter', Arial, sans-serif;
  max-width: 1184px;
}

@media (min-width: 1281px)
{
  .cover {
    padding-bottom: calc(1280px * .925 * .625);
  }
}

@media (max-width: 1279px) {
  .cover {
    width: 100%;
    padding-bottom: calc(100% * .625);
  }
}

@media (max-width: 767px) {
  .cover {
    margin: 0 0 64px;
    width: 100%;
    padding-bottom: calc(100% * .625);
  }
}