@import url(./__link/cover__link.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);
.cover {
  margin: 0 auto 92px;
  width: 92.5%;
  height: 740px;
  background-repeat: no-repeat;
  background-image: url(../../images/__background.jpg);
  background-size: contain;
  display: flex;
  position: relative;
  font-family: 'Inter', Arial, sans-serif;
  max-width: 1184px;
}

@media (max-width: 1279px) {
  .cover {
    width: 1024px;
    height: 740px;
  }
}

@media (max-width: 1023px) {
  .cover {
    width: 768px;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .cover {
    margin: 0 auto 64px;
    width: 576px;
    height: 360px;
  }
}

@media (max-width: 574px) {
  .cover {
    margin: 0 auto 64px;
    width: 320px;
    height: 200px;
  }
}