@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);
.footer {
  margin: 0 48px 24px;
  display: flex;
  justify-content: space-between;
  font-family: 'Inter', Arial, sans-serif;
  max-width: 1184px;
}

@media (min-width: 1281px) {
  .footer {
    margin: 0 auto 24px;
    width: 1184px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .footer {
    margin: 0 24px 24px;
  }
}

@media (max-width: 767px) and (min-width: 250px) {
  .footer {
    width: 90%;
    margin: 0 auto 24px;
    flex-direction: column;
  }
}